<!DOCTYPE html>
<head>
    <title>Fuel Consumption calc</title>
</head>
<body>
    <h1>Fuel Consumption Calculator</h1>
    <form method="POST" action="/calculate_fuel">
        <label for ="distance">Enter Distance in nm</label>
        <input type="number" name="distance" required>
        <input type="submit" value="Calculate">
        <br>
        <br>
        <label for ="ZFW">Enter ZFW in kg</label>
        <input type="number" name="ZFW" required>
        <input type="submit" value="Calculate">
    </form>
</body>