<!DOCTYPE html>
<head>
    <title>Fuel Consumption Calculator</title>
    <h1 style="text-align:center; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size:35px;">Fuel Consumption Calculator</h1>
    <style>
        #form{
            padding-top: 100px;
            text-align: center;
        }
        #form_B738,
        #form_A20N,
        #form_A21N {
            display: none;
        }
    </style>
    <script>
        function showForm() {
            var variant = document.getElementById("variant").value;
            
            // Object for mapping aircrafts to their forms id
            var aircrafts = {
                "B737-800": "form_B738",
                "A320neo": "form_A20N",
                "A321neo": "form_A21N"
            }
            
            // Loop to hide all aircrafts initially
            for (var aircraftID in aircrafts) {
                document.getElementById(aircrafts[aircraftID]).style.display = "none";
            }

            // Loop to show the selected aircraft
            if (aircrafts.hasOwnProperty(variant)) {
                document.getElementById(aircrafts[variant]).style.display = "block";
            }
        }
    </script>
</head>
<body>
    <h1>Choose aircraft variant</h1>
    <label for="variant">Select aircraft</label>
    <select id="variant" onchange="showForm()">
        <option value="">Select</option>
        <option value="B737-800">Boeing 737-800</option>
        <option value="A320neo">A320-251N</option>
        <option value="A321neo">A321-253N</option>
    </select>
    <div id="form">
        <form id="form_A20N" method="POST" action="/calculate_fuelA320neo">
            <h2>A320-251N Fuel calculation</h2>
            <label for ="distance">Enter Distance in nm: </label>
            <input type="number" name="distance" required>
            <br>
            <br>
            <label for ="ZFW">Enter ZFW in kg: </label>
            <input type="number" name="ZFW" required>
            <br>
            <br>
            <label for ="altitude">Enter Cruising Altitude in feet: </label>
            <input type="number" name="altitude" required>
            <br>
            <br>
            <input type="submit" value="Calculate">
        </form>
        <form id="form_B738" method="POST" action="/calculate_fuelB738">
            <h2>B737-800 Fuel calculation</h2>
            <label for ="distance">Enter Distance in nm: </label>
            <input type="number" name="distance" required>
            <br>
            <br>
            <label for ="ZFW">Enter ZFW in kg: </label>
            <input type="number" name="ZFW" required>
            <br>
            <br>
            <label for ="altitude">Enter Cruising Altitude in feet: </label>
            <input type="number" name="altitude" required>
            <br>
            <br>
            <input type="submit" value="Calculate">
        </form>
        <form id="form_A21N" method="POST" action="/calculate_fuelA21N">
            <h2>A321-253N Fuel calculation</h2>
            <label for ="distance">Enter Distance in nm: </label>
            <input type="number" name="distance" required>
            <br>
            <br>
            <label for ="ZFW">Enter ZFW in kg: </label>
            <input type="number" name="ZFW" required>
            <br>
            <br>
            <label for ="altitude">Enter Cruising Altitude in feet: </label>
            <input type="number" name="altitude" required>
            <br>
            <br>
            <input type="submit" value="Calculate">
        </form>
    </div>
</body>
</html>